/* Start Common */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* End Common */

/* Start Header */
.name-logo{
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 40px;
}
.box-logo{
  height: 60px;
  background-color: #fff;
  padding-left: 10px;
  padding-top: 5px;
  vertical-align: middle;
}
/* End Header */

/* Start Main */
.principal-container{
  background-color: rgb(246, 248, 249);
  padding-top: 50px;
}
.container-button{
  width: 80%;
  margin: auto;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
}
.section-button{
  width: 90%;
  margin: auto;
  padding-top: 10px;
}
.btn-blue{
  width: 80px;
  height: 30px;
  background-color: lightskyblue;
  color: #fff;
  border-radius: 5px;
}.btn-white{
  width: 90px;
  height: 30px;
  background-color: #fff;
  color: lightgrey;
  border-radius: 5px;
}
.section-text{

}
