/* Start Common */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  width: 80%;
  margin: auto;
  background-color: #fff;
}
.section{
  width: 90%;
  margin: auto;
}
/* End Common */

/* Start Header */
.name-logo{
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 40px;
}
.box-logo{
  height: 60px;
  background-color: #fff;
  padding-left: 10px;
  padding-top: 5px;
  vertical-align: middle;
}
/* End Header */

/* Start Container Button */
.principal-container{
  background-color: rgb(246, 248, 249);
  padding-top: 50px;
}
.container-button{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
}
.section-button{
  width: 90%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-blue{
  width: 80px;
  height: 30px;
  background-color: lightskyblue;
  color: #fff;
  border-radius: 5px;
}.btn-white{
  width: 90px;
  height: 30px;
  background-color: #fff;
  color: lightgrey;
  border-radius: 5px;
}
/* End Container Button */

/* Start Section */
.container{
  margin-top: 3px;
}
.title-section{
  padding-top: 20px;
}
.right{
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border: 1px solid green;
  color: green;
}
.text{
  margin-left: 10px;
  font-size: 20px;
}
.content-text{
  margin: 10px 0px;
}
.editorial{
  display: inline-block;
  background-color: rgb(98, 169, 228);
  color: #fff;
  height: 25px;
  width: 70px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  padding-top: 5px;
}
.q1-goals{
  display: inline-block;
  background-color: rgb(150, 116, 221);
  color: #fff;
  height: 25px;
  width: 70px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  padding-top: 5px;
}
.wrong{
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border: 1px solid red;
  color: red;
}
.recruiting{
  display: inline-block;
  background-color: rgb(116, 178, 159);
  color: #fff;
  height: 25px;
  width: 70px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  padding-top: 5px;
}
.mobile{
  display: inline-block;
  background-color: rgb(230, 172, 65);
  color: #fff;
  height: 25px;
  width: 60px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  padding-top: 5px;
}
.website{
  display: inline-block;
  background-color: rgb(202, 106, 159);
  color: #fff;
  height: 25px;
  width: 60px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  padding-top: 5px;
}
.sales{
  display: inline-block;
  background-color: rgb(171, 200, 73);
  color: #fff;
  height: 25px;
  width: 60px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  padding-top: 5px;
}